
.main {
   width: 960px;
   float: right;
}

h1 {
    margin: 0 0 10px 0;
}
body {
    margin: 0;
    background-color: #FACFCF;
}
.header-1 {
    color: white;
}

.black {
    color: black;
}

.header ul {
    list-style: none;
    padding-left: 0;
    background-color: #420000;
    height: 30px;
    color: white;
    width: 80%;
    margin: 0 0 5px 0;
}
.header-2 li {
    float:left;
    padding: 10px 40px;
    line-height: 10px;
}

.header li:first-child {
    padding : 10px 40px 0 0;
}

.body ul {
    list-style: none;
    padding-left: 0;
    width: 240px;
    background-color: #9D6F68;
    margin: 0 10px 0 0;
}

.body li {
    margin: 40px 0 40px 5px;
    color:white;
    font-weight: 500;
}

.body li:first-child {
    margin-top:0;
}

.body-left {
    float: left;
    
    
}
.body-right {
    float:left;
    width:55%;
}

.footer {
    margin-top: 450px;
    height: 40px;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color:white;
    border: 1px solid black;
}